.App {
  text-align: center;

}
.list{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
}

li{
  list-style-type: none;
  height: 75px;
  width:100px;
}
.abc{
    height: 250px;
    width: 100%;
    display: block;
} 